{
  "customSyntax": "postcss-scss",
  "overrides": [
    {
      "extends": ["stylelint-config-standard-scss"],
      "files": ["src/**/*.scss"],
      "plugins": ["stylelint-order"],
      "rules": {
        "color-hex-alpha": "never",
        "color-hex-length": "long",
        "color-no-invalid-hex": true,
        "function-calc-no-unspaced-operator": true,
        "function-name-case": "lower",
        "function-url-quotes": "always",
        "function-url-scheme-disallowed-list": ["data"],
        "length-zero-no-unit": true,
        "no-descending-specificity": null,
        "no-duplicate-at-import-rules": true,
        "no-invalid-position-at-import-rule": null,
        "order/properties-alphabetical-order": true,
        "scss/at-extend-no-missing-placeholder": null,
        "scss/at-mixin-argumentless-call-parentheses": "always",
        "scss/dollar-variable-empty-line-before": null,
        "selector-class-pattern": null,
        "selector-max-id": 0,
        "selector-not-notation": "simple",
        "selector-type-case": "lower",
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "unit-allowed-list": ["px", "%", "deg", "rem", "em", "vh", "vw", "vmin", "fr"],
        "unit-no-unknown": true,
        "value-keyword-case": [
          "lower",
          {
            "ignoreKeywords": ["currentColor"]
          }
        ]
      }
    }
  ]
}
